In [1]:
import pandas as pd
import numpy as np

In [12]:
movies=pd.read_csv("netflix_titles.csv")

In [13]:
movies.shape

(7787, 12)

In [14]:
movies.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4155,s4156,Movie,Mo Gilligan: Momentum,Chris Howe,Mo Gilligan,United Kingdom,"September 30, 2019",2019,TV-MA,64 min,Stand-Up Comedy,Comedian Mo Gilligan blends smooth moves and s...
2539,s2540,Movie,Gridlocked,Allan Ungar,"Dominic Purcell, Cody Hackman, Stephen Lang, T...",Canada,"July 14, 2016",2015,R,114 min,Action & Adventure,An embittered cop is tasked with baby-sitting ...
6331,s6332,Movie,The End of the Tour,James Ponsoldt,"Jason Segel, Jesse Eisenberg, Becky Ann Baker,...",United States,"July 26, 2018",2015,R,106 min,"Dramas, Independent Movies","""Rolling Stone"" reporter David Lipsky shadows ..."
6373,s6374,Movie,The Founder,John Lee Hancock,"Laura Dern, B.J. Novak, Patrick Wilson, John C...","United States, Greece","August 21, 2020",2016,PG-13,115 min,Dramas,After a fateful encounter with the McDonald br...
4720,s4721,Movie,P.S. I Love You,Richard LaGravenese,"Hilary Swank, Gerard Butler, Lisa Kudrow, Gina...",United States,"April 1, 2019",2007,PG-13,126 min,"Dramas, Romantic Movies",When she loses her beloved husband to a brain ...

In [15]:
movies['type'].value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64

In [16]:
movies.isnull().sum()

show_id            0
type               0
title              0
director        2389
cast             718
country          507
date_added        10
release_year       0
rating             7
duration           0
listed_in          0
description        0
dtype: int64

In [17]:
movies[movies['type']=='TV Show']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"Jo√£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
5,s6,TV Show,46,Serdar Akar,"Erdal Be≈üik√ßioƒülu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
11,s12,TV Show,1983,NaN,"Robert Wiƒôckiewicz, Maciej Musia≈Ç, Michalina O...","Poland, United States","November 30, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas","In this dark alt-history thriller, a na√Øve law..."
12,s13,TV Show,1994,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7767,s7768,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
7775,s7776,TV Show,Zoids Wild,NaN,"Kensho Ono, Takahiro Sakurai, Mikako Komatsu, ...",Japan,"August 14, 2020",2018,TV-Y7,1 Season,"Anime Series, Kids' TV",A quest for freedom and legendary treasure beg...
7777,s7778,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yey√©, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...

In [22]:
movies[(movies['country']=='Pakistan') & (movies['type']=='TV Show')]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2864,s2865,TV Show,Humsafar,NaN,"Fawad Khan, Mahira Khan, Atiqa Odho, Naveen Wa...",Pakistan,"December 15, 2016",2011,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","To fulfill her mother's dying wish, middle-cla..."
3352,s3353,TV Show,Khaani,NaN,"Feroze Khan, Sana Javed, Mehmood Aslam, Saman ...",Pakistan,"August 1, 2019",2017,TV-14,1 Season,"Crime TV Shows, International TV Shows, Romant...",After a rich politician's son kills a young wo...
5337,s5338,TV Show,Sadqay Tumhare,Ehtesham Uddin,"Mahira Khan, Samiya Mumtaz, Adnan Malik, Rehan...",Pakistan,"December 15, 2016",2014,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",An arranged engagement between a village girl ...
7767,s7768,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,"December 15, 2016",2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."

In [25]:
movies.dropna(inplace=True)

In [26]:
movies.shape

(4808, 12)

In [27]:
movies['type'].value_counts()

Movie      4673
TV Show     135
Name: type, dtype: int64

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 1 to 7783
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4808 non-null   object
 1   type          4808 non-null   object
 2   title         4808 non-null   object
 3   director      4808 non-null   object
 4   cast          4808 non-null   object
 5   country       4808 non-null   object
 6   date_added    4808 non-null   object
 7   release_year  4808 non-null   int64
 8   rating        4808 non-null   object
 9   duration      4808 non-null   object
 10  listed_in     4808 non-null   object
 11  description   4808 non-null   object
dtypes: int64(1), object(11)
memory usage: 488.3+ KB

In [29]:
df=movies[['show_id','type','title','director','cast','listed_in','description']]

In [30]:
df.head()

,show_id,type,title,director,cast,listed_in,description
1,s2,Movie,07:19,Jorge Michel Grau,"Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...","Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...","Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...","Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Be≈üik√ßioƒülu, Yasemin Allen, Melis Birkan...","International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...

In [31]:
df['listed_in'][5]

'International TV Shows, TV Dramas, TV Mysteries'

In [36]:
def cast_filter(obj):
    l= obj.split(',')[0:3]
    s=' '.join(map(str,l))
    return s

In [32]:
s=df['cast'][1]

In [37]:
s

'Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato'

In [38]:
k=cast_filter(s)

In [39]:
k

'Demi√°n Bichir  H√©ctor Bonilla  Oscar Serrano'

In [41]:
cast_filter(df['cast'][5])

'Erdal Be≈üik√ßioƒülu  Yasemin Allen  Melis Birkan'

In [81]:
df['cast'][1]

'Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato'

In [85]:
df['cast']

1       Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...
2       Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3       Elijah Wood, John C. Reilly, Jennifer Connelly...
4       Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
5       Erdal Be≈üik√ßioƒülu, Yasemin Allen, Melis Birkan...
                              ...
7778    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
7780    Shashank Arora, Shweta Tripathi, Rahul Kumar, ...
7781    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
7782    Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 4808, dtype: object

In [88]:
df['cast']

1       Demi√°n Bichir, H√©ctor Bonilla, Oscar Serrano, ...
2       Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3       Elijah Wood, John C. Reilly, Jennifer Connelly...
4       Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
5       Erdal Be≈üik√ßioƒülu, Yasemin Allen, Melis Birkan...
                              ...
7778    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
7780    Shashank Arora, Shweta Tripathi, Rahul Kumar, ...
7781    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
7782    Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 4808, dtype: object

In [91]:
df['listed_in']

1                            Dramas, International Movies
2                     Horror Movies, International Movies
3       Action & Adventure, Independent Movies, Sci-Fi...
4                                                  Dramas
5         International TV Shows, TV Dramas, TV Mysteries
                              ...
7778                              Comedies, Horror Movies
7780     Dramas, Independent Movies, International Movies
7781                   Children & Family Movies, Comedies
7782                         Dramas, International Movies
7783       Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 4808, dtype: object

In [96]:
df['description'][3]

'In a postapocalyptic world, rag-doll robots hide in fear from dangerous machines out to exterminate them, until a brave newcomer joins the group.'

In [98]:
df['director']

1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
5             Serdar Akar
              ...
7778      Ruben Fleischer
7780         Shlok Sharma
7781         Peter Hewitt
7782          Josef Fares
7783          Mozez Singh
Name: director, Length: 4808, dtype: object

In [120]:
l=df['listed_in'][1]

In [121]:
l

'Dramas, International Movies'

In [111]:
d=df['director'][1]

In [112]:
d

'Jorge Michel Grau'

In [113]:
type(d)

str

In [118]:
## To remove the space and change it in none
def space_hide(s):
    return (s.replace(" ",""))

In [119]:
space_hide(d)

'JorgeMichelGrau'

In [116]:
d.replace(" ","")

'JorgeMichelGrau'

In [122]:
c=df['cast'][1]

In [123]:
space_hide(c)

'Demi√°nBichir,H√©ctorBonilla,OscarSerrano,AzaliaOrtiz,OctavioMichel,CarmenBeato'

In [126]:
df['director']=df['director'].apply(space_hide)

C:\Users\91789\AppData\Local\Temp/ipykernel_7636/960605492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['director']=df['director'].apply(space_hide)

In [129]:
df['cast']=df['cast'].apply(space_hide)

C:\Users\91789\AppData\Local\Temp/ipykernel_7636/1038517317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast']=df['cast'].apply(space_hide)

In [130]:
df['cast']

1       Demi√°nBichir,H√©ctorBonilla,OscarSerrano,Azalia...
2       TeddChan,StellaChung,HenleyHii,LawrenceKoh,Tom...
3       ElijahWood,JohnC.Reilly,JenniferConnelly,Chris...
4       JimSturgess,KevinSpacey,KateBosworth,AaronYoo,...
5       ErdalBe≈üik√ßioƒülu,YaseminAllen,MelisBirkan,Sayg...
                              ...
7778    JesseEisenberg,WoodyHarrelson,EmmaStone,Abigai...
7780    ShashankArora,ShwetaTripathi,RahulKumar,GopalK...
7781    TimAllen,CourteneyCox,ChevyChase,KateMara,Ryan...
7782    ImadCreidi,AntoinetteTurk,EliasGergi,CarmenLeb...
7783    VickyKaushal,Sarah-JaneDias,RaaghavChanana,Man...
Name: cast, Length: 4808, dtype: object

In [42]:
df['cast']=df['cast'].apply(cast_filter)

C:\Users\91789\AppData\Local\Temp/ipykernel_8212/1905651824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast']=df['cast'].apply(cast_filter)

In [131]:
df['listed_in']=df['listed_in'].apply(space_hide)

C:\Users\91789\AppData\Local\Temp/ipykernel_7636/584830533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['listed_in']=df['listed_in'].apply(space_hide)

In [57]:
df.sample(5)

,show_id,type,title,description,tags
2431,s2432,TV Show,Girls und Panzer,Miho Nishizumi tries to escape her family's tr...,Tsutomu MizushimaMai Fuchigami Ai Kayano Mam...
3012,s3013,Movie,Inside Man: Most Wanted,A hotshot NYPD negotiator butts heads with the...,Michael J. BassettAml Ameen Rhea Seehorn Rox...
124,s125,Movie,5Gang,"To keep the band together, Selly tries to earn...",Matei DimaAndrei Selaru Dorian Popa Julia Ma...
1914,s1915,Movie,Eat Pray Love,After deciding to reshape her life after divor...,Ryan MurphyJulia Roberts James Franco Javier...
5267,s5268,Movie,Romeo Akbar Walter,"In 1971, a fallen army major‚Äôs son is tapped b...",Robbie GrewalJohn Abraham Jackie Shroff Moun...

In [44]:
df['tags']=df['director']+df['cast']+df['listed_in']+df['description']

C:\Users\91789\AppData\Local\Temp/ipykernel_8212/2431771900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags']=df['director']+df['cast']+df['listed_in']+df['description']

In [53]:
df.drop('director',axis=1,inplace=True)

C:\Users\91789\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [54]:
df.drop('cast',axis=1,inplace=True)

In [56]:
df.drop('listed_in',axis=1,inplace=True)

C:\Users\91789\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [58]:
df.drop('description',axis=1,inplace=True)

C:\Users\91789\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [59]:
df.head()

  show_id     type  title                                               tags
1      s2    Movie  07:19  Jorge Michel GrauDemi√°n Bichir  H√©ctor Bonilla...
2      s3    Movie  23:59  Gilbert ChanTedd Chan  Stella Chung  Henley Hi...
3      s4    Movie      9  Shane AckerElijah Wood  John C. Reilly  Jennif...
4      s5    Movie     21  Robert LuketicJim Sturgess  Kevin Spacey  Kate...
5      s6  TV Show     46  Serdar AkarErdal Be≈üik√ßioƒülu  Yasemin Allen  M...

In [ ]:
df['tags']